# Ignore OS files
.DS_Store

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#don't add Eclipse project folders-Craig
.buildpath
.project
.settings
dummy.php
